@model HelpDeskMvc.Models.ViewModels.DetalheChamadoViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chamado.idChamado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.idChamado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chamado.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.status)
        </dd>
        <dt>
            Aberto há:
        </dt>
        <dd>
            @Model.calcularTempoChamado(Model.chamado.dataAbertura).ToString() dias
        </dd>

        <dd>

        </dd>

        @if (Model.chamado.dataEncerramento != Convert.ToDateTime("01/01/0001"))
        {

            @Html.DisplayNameFor(model => model.chamado.dataEncerramento)


            @Html.DisplayFor(model => model.chamado.dataEncerramento)


        }
        <dt>
            @Html.DisplayNameFor(model => model.chamado.descricaoChamado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.descricaoChamado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chamado.dataAbertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.dataAbertura)
        </dd>
        @if (Model.chamado.solucaoChamado != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.chamado.solucaoChamado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.chamado.solucaoChamado)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.chamado.servico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.servico.dsServico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chamado.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.usuario.loginUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chamado.tecnico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.tecnico.loginUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.chamado.departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chamado.departamento.dsDpto)
        </dd>
    </dl>

    @foreach (var item in Model.histChamado)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.loginUsuario)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.dsLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataLog)
            </td>
            <td></td>
        </tr>



    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
