@model HelpDeskMvc.Models.Chamado

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idChamado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idChamado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            Aberto há:
        </dt>
        <dd>
            @Model.calcularTempoChamado(Model.dataAbertura).ToString() dias
        </dd>

        <dd>
            AGUARDANDO ATENDIMENTO ==========>  @Model.AguardandoAtendimento()
        </dd>

        @if (Model.dataEncerramento != Convert.ToDateTime("01/01/0001"))
        {

            @Html.DisplayNameFor(model => model.dataEncerramento)


            @Html.DisplayFor(model => model.dataEncerramento)


        }
        <dt>
            @Html.DisplayNameFor(model => model.descricaoChamado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descricaoChamado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataAbertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataAbertura)
        </dd>
        @if (Model.solucaoChamado != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.solucaoChamado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.solucaoChamado)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.servico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.servico.dsServico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario.loginUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tecnico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tecnico.loginUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departamento.dsDpto)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
