@model IEnumerable<HelpDeskMvc.Models.Chamado>
@{
    ViewData["Title"] = "Lista de chamados";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idChamado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servico)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idChamado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataAbertura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.servico)
                </td>
            </tr>
        }
    </tbody>


</table>

